<h1><%= @category.name %></h1>
<%= link_to 'New Todo', new_category_todo_path(@category) %>

<ul>
  <% @todos.each do |todo| %>
    <li><%= todo.title %>: <%= todo.description %></li>
  <% end %>
</ul>
<h1><%= @category.name %></h1>
<%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', categories_path %>
<h1><%= @category.name %></h1>
<%= link_to 'Create Todo', new_category_todo_path(@category) %>

<ul>
  <% @category.todos.each do |todo| %>
    <li>
      <%= todo.name %> - <%= todo.status ? "Complete" : "Incomplete" %>
      <%= link_to 'Edit', edit_category_todo_path(@category, todo) %>
      <%= link_to 'Delete', category_todo_path(@category, todo), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
